@media screen and (min-width:1200px) {
    .container {
        width: 1200px;
        background: pink;
    }
}

/* header */
.container header {
    padding-left: 0;
}

.logo {
    background: #429ad9;
}

.logo img {
    width: 100%;
}