ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media screen and (min-width:1200px) {
    .container {
        width: 1200px;
        background: pink;
    }
}

/* header */
.container header {
    padding-left: 0;
}

.logo {
    background: #429ad9;
}

.logo img {
    width: 100%;
}

/* nav */
.nav {
    background: #ccc
}

.nav a {
    display: block;
    padding-left: 30px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    color: #666
}

.nav a:hover {
    background: #fff;
}

.nav a::before {
    vertical-align: middle;
    padding-right: 5px;
}